@import 'header.css';
@import 'post.css';

* {  
  color: darkslategrey;
}
a {
  color: rosybrown;
}
#layout-container {
  max-width: 1000px;
}
img.max-width{
  width: 100%;
}
h2 {
  text-align: center;
}
.project-item {
  padding-bottom: 2rem;
}
#left-column {
  text-align:center;
}
#right-column {
  padding: 3rem;
  margin-top: 3%;
  min-height: 50rem;
}
#left-aligned-page {
  padding-top:5rem;
}
#center-aligned-page {
  padding-top:5rem;
  text-align: center;
}
#footer {
  padding: 2rem;
  opacity: 0.8;
}
