a{
  color: rosybrown;
},
img.max-width{
  width: 100%;
},
body, .nav-link, .title-link{
  color: darkslategrey;
},
.nav-link:hover{
  color: darkslategrey;
},
h2 {
  text-align: center;
}
.project-item{
  padding-bottom: 2rem;
}
